@import url(../fonts/MuseoSans/stylesheet.css);
@import "slick.css";
body {
  max-width: 1920px;
  margin: 0 auto;
}

.first-screen__wrap {
  background: url("../img/02_firstPage/bg.svg") center top no-repeat;
}
.first-screen__wrap .first-screen__header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 20px;
}
.first-screen__wrap .first-screen__header .representative {
  color: #ffffff;
  line-height: 29px;
}
.first-screen__wrap .first-screen__header .representative .representative__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}
.first-screen__wrap .first-screen__header .representative .representative__title .representative__partners {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}
.first-screen__wrap .first-screen__header .tell-number {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.first-screen__wrap .first-screen__header a {
  text-decoration: none;
  color: #ffffff;
}
.first-screen__wrap .first-screen__header button {
  background: #C70101;
  border-radius: 5px;
  border: none;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}
.first-screen__wrap .first-screen__main-content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #FFFFFF;
  gap: 35px;
  margin-top: 35px;
  padding-bottom: 0;
}
.first-screen__wrap .first-screen__main-content h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
}
.first-screen__wrap .first-screen__main-content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.first-screen__wrap .first-screen__main-content .first-screen__main-content__advantage {
  display: flex;
  gap: 116px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.first-screen__wrap .first-screen__main-content .first-screen__main-content-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}
.first-screen__wrap .first-screen__main-content .first-screen__main-content-btn button {
  background: #C70101;
  border-radius: 5px;
  border: none;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.first-screen__wrap .first-screen__main-content .first-screen__main-content-btn .catalog {
  display: flex;
  flex-direction: row;
}
.first-screen__wrap .first-screen__main-content .first-screen__main-content-btn .link {
  color: #FFFFFF;
}

.advantage-wrap {
  background: #F6F6F6 center top no-repeat;
}
.advantage-wrap .advantage-content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantage-wrap .advantage-content__list {
  display: flex;
  justify-content: space-between;
}
.advantage-wrap .advantage__item-content {
  max-width: 300px;
}
.advantage-wrap .advantage__item-content p {
  color: #0D0D0D;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.advantage-wrap .advantage__item-content span {
  color: red;
}

.consultation-wrap {
  background: url("../img/05_consultation/bg.svg") center no-repeat;
  color: #FFFFFF;
  padding: 0 20px;
}
.consultation-wrap .consultation-content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 680px;
  gap: 15px;
}
.consultation-wrap .consultation-content h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 0;
}
.consultation-wrap .consultation-content p {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.consultation-wrap .consultation-content .consultation-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 380px;
}
.consultation-wrap .consultation-content .consultation-form input {
  height: 52px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.consultation-wrap .consultation-content .consultation-form input::-webkit-outer-spin-button,
.consultation-wrap .consultation-content .consultation-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.consultation-wrap .consultation-content .consultation-form button {
  background: #C70101;
  border-radius: 5px;
  border: none;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.slider {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
}
.slider img {
  margin: 0 auto;
  max-width: 100%;
}
.slider a {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.slider .slider__arrow {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.slick-slider {
  display: flex;
}

.catalog-wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
}
.catalog-wrap h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #0D0D0D;
}
.catalog-wrap .catalog__puls-type {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}
.catalog-wrap .catalog__puls-type .catalog__btn {
  background: url("../img/06_slider/tabBg.svg") no-repeat;
  width: 222px;
  height: 50px;
}
.catalog-wrap .catalog__puls-type .catalog__btn:hover {
  background: url("../img/06_slider/tabBgActive.svg") no-repeat;
}
.catalog-wrap .catalog__puls-type button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #6B6B6B;
}
.catalog-wrap .catalog__product-wrap {
  display: grid;
  min-width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}
.catalog-wrap .catalog__product-wrap .catalog__product {
  width: 88%;
  align-items: center;
  border: 2px solid rgb(232, 232, 232);
  padding: 20px;
  box-sizing: border-box;
}
.catalog-wrap .catalog__product-wrap .catalog__product .catalog__product-more__info {
  align-items: stretch;
  display: none;
}
.catalog-wrap .catalog__product-wrap .catalog__product .catalog__product-more__info ul li {
  text-align: start;
  align-items: flex-end;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
  list-style-image: url("../img/07_catalog/marker.svg");
}
.catalog-wrap .catalog__product-wrap .catalog__product h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-wrap .catalog__product-wrap .catalog__product p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-wrap .catalog__product-wrap .catalog__product .catalog__product-more {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #C70101;
}
.catalog-wrap .catalog__product-wrap .catalog__product hr {
  width: 80%;
  height: 2px;
  border: none;
  background-color: rgb(232, 232, 232);
}
.catalog-wrap .catalog__product-wrap .catalog__product .catalog__product-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
}
.catalog-wrap .catalog__product-wrap .catalog__product .catalog__product-price del {
  color: #555555;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}
.catalog-wrap .catalog__product-wrap .catalog__product .catalog__product-price h3 {
  color: #050505;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 0;
}
.catalog-wrap .catalog__product-wrap .catalog__product .catalog__product-price button {
  background: #C70101;
  border-radius: 5px;
  border: none;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.review {
  max-width: 1140px;
  margin: 0 auto;
  padding: 25px 0;
  font-family: "MuseoModerno", sans-serif;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.review__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #0D0D0D;
}
.review__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;
  align-items: center;
  justify-items: center;
}
.review__container-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}
.review__name {
  align-items: flex-end;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #0D0D0D;
}
.review__marathon {
  color: #646464;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin: 2px 0;
}
.review__text {
  color: #0D0D0D;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.contact {
  min-height: 515px;
  display: flex;
  justify-content: center;
  position: relative;
}
.contact img {
  max-width: 100%;
  height: 100%;
}
.contact__box {
  position: absolute;
  width: 30%;
  height: 40%;
  padding: 10px;
  background: #C70101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contact__box-address {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.contact__box-tel {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.contact__box-social-media {
  display: flex;
  flex-direction: row;
  width: 212px;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
